canvas {
    display: block;
}

@media (height: 1180px) {
    .rules-img {
        top: 60px !important;
    }

    svg {
        margin-top: 60px !important;
    }
}

@media (max-width: 1150px) {
    .close-video-img {
        right: 10px;
    }

    #video-popUp video {
        max-width: 700px;
        height: auto; 
        margin: 6px;
    }

    .gameover {
        width: 50vw;
    }

    .mobil-keys {
        display: flex;
        border: 6px solid white;
        border-radius: 10px;
    }
}

@media (max-width: 900px) {
    .rules-img {
        top: 10px;
    }

    svg {
        margin-top: 12px;
    }

    .rule {
        flex-direction: column;
        align-items: center;
    }

    .popUpWindow {
        top: 50%;
        max-height: 75%;
        border-radius: 0;
    }

    .top-6 {
        top: 6px;
    }

    .key-rules-box {
        flex-direction: column;
        justify-content: center;
    }

    .key-rules-box img {
        margin-right: 0 !important;
    }

    .instrution {
        margin-right: 16px;
    }
}

@media (max-width: 700px) {
    svg {
        display: none;
    }

    .rules-img {
        right: 12px;
    }

    .mobile-header {
        display: block;
        top: 50px;
    }

    .start-page-btn {
        flex-direction: column;
        align-items: center;
    }

    .start-btn {
        margin-right: 0 !important;
        margin-bottom: 8px;
    }

    .game-description {
        font-size: 18px;
        padding: 4px;
        margin: 2px;
    }

    #video-popUp video {
        max-width: 80vw;
    }

    .win-img {
        height: 200px;
        width: 300px;
    }
}

@media (max-width: 400px) {
    .mobile-header {
        font-size: 32px;
    }

    .rules-img {
        top: 12px;
    }

    .start-btn, .demo-btn {
        font-size: 36px;
    }

    .game-description {
        letter-spacing: 0;
    }
}

@media (max-width: 350px) {

    .game-description {
        font-size: 14px;
    }

    .start-btn, .demo-btn {
        font-size: 28px;
    }

    .start-btn-box img {
        width: 120px;
    }

    .instruction {
        font-size: 40px;
    }
}


/* GAME CANVAS */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
    }

    #lobby-btn {
        display: none;
    }

    #info-btn-open {
        display: none;
        right: 6px;
        top: 0;
        margin-top: 6px;
    }

    .mobil-keys {
        display: flex;
        border: 0;
        border-radius: 0;
    }

    #infobar {
        display: none;
    }

    #info-btn-close {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: calc(90vh - 70px);
        width: 100%;
        border: none;
        box-shadow: none;
        border-radius: 0;
        margin-top: 0;
    }

    #lobby-btn {
        display: none;
    }

    #info-btn-open {
        display: none;
        right: 6px;
        top: 0;
        margin-top: 6px;
    }

    .mobil-keys {
        display: flex;
        border: 0;
        border-radius: 0;
    }

    #infobar {
        display: none;
    }

    #info-btn-close {
        display: none;
    }
}