@font-face {
    font-family: 'luckiest_guy';
    src: url('fonts/luckiest_guy_regular.ttf')
    format('truetype') 
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('img/background/water_bg.jpg');
    font-family: 'luckiest_guy', Arial, Helvetica, sans-serif;
}

.d-none {
    display: none !important;
}

.margin-16 {
    margin-right: 16px;
}

.margin-8 {
    margin-right: 8px;
}

.margin-48 {
    margin-right: 48px;
}

.bg-white {
    background: white !important;
} 

canvas {
    border: 6px solid white;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 25px;
}

/* START-PAGE */

.rules-img {
    padding: 2px;
    background: #ffffffa6;
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    top: 16px;
    right: 24px;
    height: 48px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

#start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('img/background/Mesa de trabajo 1.png');
    background-position: top;
}

.start-btn {
    background: radial-gradient(rgb(201 193 220), rgb(90 0 193));
    font-size: 48px;
    color: white;
    padding: 12px;
    border-radius: 24px;
    border: 3px solid white;
    filter: drop-shadow(0px 0px 20px #9e9ec9);
}

.start-btn:hover, .rules-img:hover, .popUpBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 225ms ease-in-out;
}

h1 {
    margin-top: 100px;
    color: white;
    font-size: 48px;
    letter-spacing: 2px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(0px 0px 20px  #9e9ec9);  
}

/* START-PAGE END*/

/* Modal Popup Box */

#popUpBox {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(203 200 200 / 60%);
    z-index: 9999;
}
  
.popUpWindow {
    background: radial-gradient(rgb(201 193 220), rgb(90 0 193));
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 24px;
    overflow-y: overlay;
    text-align: center;
}
  
#popUpBox span {
    color: white;
    font-size: 18px;
    display: block;
}
  
#popUpBox h1 {
    color: white;
}
  
.popUpMargin {
    margin-right: 12px;
}
  
.popUpBtn {
    font-size: 18px;
    color: white;
    padding: 6px;
    cursor: pointer;
    background: rgb(13 13 25 / 24%);
    display: inline-block;
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    position: absolute;
    top: 12px;
    right: 24px;
}

.instruction {
    color: white;
    margin-top: 36px;
    font-size: 52px;
}

.key-rules-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 36px;
    padding: 8px;
    border: 2px solid white;
    border-radius: 24px;
    max-width: 500px;
    background: rgb(13 13 25 / 24%);
}

.rule {
    display: flex;
    justify-content: space-around;
}

.key-rules-img {
    height: 120px;
    width: 120px;
    margin-top: -25px;
}

.key-arrow {
    height: 70px;
    width: 120px;
}

.key-D {
    height: 60px;
    width: 60px;
}

.key-space {
    height: 40px;
    width: 160px;
}

.rules-coin {
    height: 60px;
    width: 60px;
    margin-right: 12px;
}

.enemies-header {
    font-size: 36px;
    color: white;
}

.enemie-rules-img-80 {
    height: 80px;
    width: 80px; 
}

.enemie-rules-img {
    height: 120px;
    width: 120px; 
}


/* Modal Popup Box */

/* INFO-BAR */

.lobby {
    position: absolute;
    top: 24px;
    left: 24px;
    background: radial-gradient(rgb(14 171 214), rgb(11 30 172 / 74%));
    font-size: 24px;
    color: white;
    padding: 12px;
    border-radius: 24px;
    border: 1px solid white;
}

.lobby:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 225ms ease-in-out;
}

#info-btn-open,  #info-btn-close {
    padding: 2px;
    background: #ffffffa6;
    border-radius: 100%;
    border: 2px solid white;
    position: absolute;
    top: 16px;
    right: 24px;
    z-index: 1;
    height: 48px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

#info-btn-close {
    height: 24px;
    top: 12px !important;
    right: 12px !important;
}

#restart-btn {
    position: absolute;
    top: 16px;
    right: 100px;
    padding: 2px;
    background: #ffffffa6;
    border-radius: 100%;
    z-index: 1;
    border: 2px solid white;
    height: 52px;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

#info-btn-open:hover, #info-btn-close:hover, #restart-btn:hover, .fullscreen-box:hover {
    cursor: pointer;
    background-color: white;
}

#infobar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background: radial-gradient(rgb(193 218 225 / 55%), rgb(11 30 172 / 74%));
    margin-bottom: -30px;
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 16px);
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
}

.fullscreen-box {
    top: 72px !important;
}

.music-box, .fullscreen-box {
    position: absolute;
    left: 16px;
    top: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 24px;
    padding: 6px;
    background: #ffffff94;
}

.music-box audio {
    height: 24px;
    width: 220px;
    margin-left: 4px;
}

.music-box img, .fullscreen-img {
    height: 18px;
}

.music-box img:hover {
    cursor: pointer;
}

.info-coin {    
    margin-top: -6px;
    height: 50px;
    width: 50px;
}

.info-key-arrow {
    height: 50px;
    width: 75px;
    margin-bottom: -40px;
}

.info-key-D {
    height: 40px;
    width: 40px;
    margin-bottom: -30px;
    margin-top: 12px;
}

.info-key-space {
    height: 30px;
    width: 120px;
    margin-bottom: -30px;
    margin-top: 12px;
}

.info-img {
    height: 100px;
    width: 100px;
    margin-bottom: -20px;
}

.info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    border-radius: 24px;
    padding: 2px;
    background: #ffffff94;
    max-width: 170px;
    min-height: 100px;
}

.info-box span {
    font-size: 12px;
    text-align: center;
}

/* INFO-BAR END */

